SUPABASE_URL=https://ybzqhzmseslfguqisscu.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlienFoem1zZXNsZmd1cWlzc2N1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzNDE5OTQsImV4cCI6MjEwNDkxNzk5NH0.Wi3bJrs9lCGbIV9qcnfRmpv3RWjWV_nkOiaPMUWgLmM
PORT=3000
